In [1]:
import pandas as pd
import numpy as np

In [142]:
df = pd.read_excel("data/owid-covid-data.xlsx")

In [143]:
df.head()

,continent,location,date,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,reproduction_rate,icu_patients_per_million,hosp_patients_per_million,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,NaN,NaN,NaN,cummulative,NaN,cummulative,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Asia,Afghanistan,2023-02-14,5082.476,0.608,191.982,0.00,NaN,NaN,NaN,...,NaN,37.746,0.50,64.83,0.511,4.112877e+07,NaN,NaN,NaN,NaN
2,NaN,Africa,2023-02-14,8768.251,0.390,180.588,0.01,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.426737e+09,NaN,NaN,NaN,NaN
3,Europe,Albania,2023-02-14,117602.605,3.166,1265.165,0.00,NaN,NaN,NaN,...,51.2,NaN,2.89,78.57,0.795,2.842318e+06,NaN,NaN,NaN,NaN
4,Africa,Algeria,2023-02-14,6044.309,0.000,153.241,0.00,NaN,NaN,NaN,...,30.4,83.741,1.90,76.88,0.748,4.490323e+07,NaN,NaN,NaN,NaN

In [144]:
df = df[['continent',
'location','date',
'total_cases_per_million',
'new_cases_per_million',
'total_deaths_per_million',
'new_deaths_per_million','reproduction_rate'
,'icu_patients_per_million',
'hosp_patients_per_million',
'total_tests_per_thousand',
'new_tests_per_thousand',
'tests_per_case',
'total_boosters',
'new_vaccinations',
'total_vaccinations_per_hundred',
'people_vaccinated_per_hundred',
'people_fully_vaccinated_per_hundred',
'total_boosters_per_hundred',
'new_vaccinations_smoothed_per_million',
'new_people_vaccinated_smoothed_per_hundred',
'stringency_index',
'population_density',
'median_age',
'aged_65_older',
'aged_70_older',
'gdp_per_capita',
'extreme_poverty',
'cardiovasc_death_rate',
'diabetes_prevalence',
'female_smokers',
'male_smokers',
'handwashing_facilities',
'hospital_beds_per_thousand','life_expectancy',
'human_development_index',
'population',
'excess_mortality',
'excess_mortality_cumulative_per_million']]

In [145]:
df = df.iloc[1:,:]

In [26]:
summary_df = pd.DataFrame()
summary_df['Null values'] = df.isna().sum()

In [29]:
summary_df['dtypes'] = df.dtypes

In [30]:
summary_df

                                            Null values   dtypes
continent                                         14454   object
location                                              0   object
date                                                  0   object
total_cases_per_million                           15488   object
new_cases_per_million                             15763  float64
total_deaths_per_million                          35128   object
new_deaths_per_million                            35228  float64
reproduction_rate                                 72591  float64
icu_patients_per_million                         222992  float64
hosp_patients_per_million                        219953  float64
total_tests_per_thousand                         178021  float64
new_tests_per_thousand                           182005  float64
tests_per_case                                   163060  float64
total_boosters                                   216502  float64
new_vaccinations                                 197551  float64
total_vaccinations_per_hundred                   185302  float64
people_vaccinated_per_hundred                    188402  float64
people_fully_vaccinated_per_hundred              191056  float64
total_boosters_per_hundred                       216502  float64
new_vaccinations_smoothed_per_million            104448  float64
new_people_vaccinated_smoothed_per_hundred       104576  float64
stringency_index                                  72214  float64
population_density                                33059  float64
median_age                                        49907  float64
aged_65_older                                     52094  float64
aged_70_older                                     50992  float64
gdp_per_capita                                    50244  float64
extreme_poverty                                  122488  float64
cardiovasc_death_rate                             50523  float64
diabetes_prevalence                               39630  float64
female_smokers                                   100476  float64
male_smokers                                     102623  float64
handwashing_facilities                           155338  float64
hospital_beds_per_thousand                        72916  float64
life_expectancy                                   21165  float64
human_development_index                           55151  float64
population                                         1104  float64
excess_mortality                                 248877  float64
excess_mortality_cumulative_per_million          248877  float64

In [36]:

df['location'] = pd.Categorical(df['location'])

/var/folders/g8/ryts82jd3c33vl83y_np4dzm0000gn/T/ipykernel_66788/1938827158.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['location'] = pd.Categorical(df['location'])

,continent,location,date,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,reproduction_rate,icu_patients_per_million,hosp_patients_per_million,...,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality,excess_mortality_cumulative_per_million
location,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,0,0,0,3,28,28,77,1087,1087,...,0,1087,1087,0,0,0,0,0,1087,1087
Africa,1098,0,0,1,0,24,0,1098,1098,1098,...,1098,1098,1098,1098,1098,1098,1098,0,1098,1098
Albania,0,0,0,13,13,15,15,71,1086,1086,...,0,0,0,1086,0,0,0,0,1054,1054
Algeria,0,0,0,0,0,16,16,69,262,1086,...,0,0,0,0,0,0,0,0,1075,1075
Andorra,0,0,0,0,0,20,21,64,1080,1080,...,0,0,0,1080,1080,0,0,0,1058,1058
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Western Sahara,0,0,0,1,1,1,1,1,1,1,...,1,1,1,1,1,0,1,0,1,1
World,1120,0,0,0,0,0,0,44,1120,1120,...,0,0,0,0,0,0,0,0,1120,1120
Yemen,0,0,0,0,1,20,20,79,1041,1041,...,0,0,0,0,0,0,0,0,1041,1041
Zambia,0,0,0,0,0,15,15,87,1064,1064,...,0,0,0,0,0,0,0,0,1064,1064
Zimbabwe,0,0,0,0,7,3,3,112,1062,1062,...,0,0,0,0,0,0,0,0,1062,1062

In [42]:
#number of countries
df['location'].value_counts().count()

248

In [44]:
# export to csv to view
# country wise null values:
empty_per_country  = df.isna().groupby(df.location).sum()
empty_per_country.to_csv('empty_per_country.csv')

In [46]:
# continent wise null values:
empty_per_continent = df.isna().groupby(df.continent).sum()
empty_per_continent.to_csv("empty_per_continent.csv")

In [147]:
df['date'] = pd.to_datetime(df.date,format = '%Y/%m/%d')
df['continent'] = pd.Categorical(df['continent'])

In [204]:
def ret_data(group):
    group['']
    return group

In [205]:

null_df = df.groupby(pd.Grouper(key='date', freq='W')).apply(ret_data)

/var/folders/g8/ryts82jd3c33vl83y_np4dzm0000gn/T/ipykernel_66788/2344326002.py:1: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  null_df = df.groupby(pd.Grouper(key='date', freq='W')).apply(ret_data)

In [206]:
null_df

,continent,location,date,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,reproduction_rate,icu_patients_per_million,hosp_patients_per_million,...,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality,excess_mortality_cumulative_per_million
257407,South America,Argentina,2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.50,16.200,27.700,NaN,5.000,76.67,0.845,4.551032e+07,NaN,NaN
257408,North America,Mexico,2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13.06,6.900,21.400,87.847,1.380,75.05,0.779,1.275041e+08,NaN,NaN
257405,South America,Argentina,2020-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.50,16.200,27.700,NaN,5.000,76.67,0.845,4.551032e+07,NaN,NaN
257406,North America,Mexico,2020-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13.06,6.900,21.400,87.847,1.380,75.05,0.779,1.275041e+08,NaN,NaN
257403,South America,Argentina,2020-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.50,16.200,27.700,NaN,5.000,76.67,0.845,4.551032e+07,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227,Oceania,Wallis and Futuna,2023-02-14,295532.942,0.000,603.656,0.000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,79.94,NaN,1.159600e+04,NaN,NaN
228,NaN,World,2023-02-14,84400.794,22.487,859.646,0.149,NaN,NaN,NaN,...,8.51,6.434,34.635,60.130,2.705,72.58,0.737,7.975105e+09,NaN,NaN
229,Asia,Yemen,2023-02-14,354.487,0.000,64.072,0.000,NaN,NaN,NaN,...,5.35,7.600,29.200,49.542,0.700,66.12,0.470,3.369661e+07,NaN,NaN
230,Africa,Zambia,2023-02-14,17100.741,0.000,202.371,0.000,NaN,NaN,NaN,...,3.94,3.100,24.700,13.938,2.000,63.89,0.584,2.001767e+07,NaN,NaN
231,Africa,Zimbabwe,2023-02-14,16119.749,NaN,346.741,0.000,NaN,NaN,NaN,...,1.82,1.600,30.700,36.791,1.700,61.49,0.571,1.632054e+07,NaN,NaN

In [181]:
type(null_df)

pandas.core.frame.DataFrame

In [138]:
 null_df.isna().groupby(df.dates).sum()

AttributeError: 'DataFrame' object has no attribute 'dates'

In [139]:
null_df

,continent,location,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,reproduction_rate,icu_patients_per_million,hosp_patients_per_million,total_tests_per_thousand,...,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality,excess_mortality_cumulative_per_million
257407,South America,Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000,...,5.50,16.200,27.700,NaN,5.000,76.67,0.845,4.551032e+07,NaN,NaN
257408,North America,Mexico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000,...,13.06,6.900,21.400,87.847,1.380,75.05,0.779,1.275041e+08,NaN,NaN
257405,South America,Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.002,...,5.50,16.200,27.700,87.847,5.000,76.67,0.845,4.551032e+07,NaN,NaN
257406,North America,Mexico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.001,...,13.06,6.900,21.400,87.847,1.380,75.05,0.779,1.275041e+08,NaN,NaN
257403,South America,Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.002,...,5.50,16.200,27.700,87.847,5.000,76.67,0.845,4.551032e+07,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227,Oceania,Wallis and Futuna,295532.942,0.000,603.656,0.000,NaN,0.758,60.857,NaN,...,6.00,1.000,45.900,85.847,2.600,79.94,0.704,1.159600e+04,NaN,NaN
228,Oceania,World,84400.794,22.487,859.646,0.149,NaN,0.758,60.857,NaN,...,8.51,6.434,34.635,60.130,2.705,72.58,0.737,7.975105e+09,NaN,NaN
229,Asia,Yemen,354.487,0.000,64.072,0.000,NaN,0.758,60.857,NaN,...,5.35,7.600,29.200,49.542,0.700,66.12,0.470,3.369661e+07,NaN,NaN
230,Africa,Zambia,17100.741,0.000,202.371,0.000,NaN,0.758,60.857,NaN,...,3.94,3.100,24.700,13.938,2.000,63.89,0.584,2.001767e+07,NaN,NaN
231,Africa,Zimbabwe,16119.749,0.000,346.741,0.000,NaN,0.758,60.857,NaN,...,1.82,1.600,30.700,36.791,1.700,61.49,0.571,1.632054e+07,NaN,NaN

In [124]:
type(df)

pandas.core.frame.DataFrame

In [98]:
df.isna().groupby(df.continent).sum()

,continent,location,date,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,reproduction_rate,icu_patients_per_million,hosp_patients_per_million,...,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality,excess_mortality_cumulative_per_million
continent,,,,,,,,,,,,,,,,,,,,,
Africa,0,0,0,89,132,2868,2889,5603,56751,57617,...,892,20048,20048,11558,15758,0,1958,0,58171,58171
Asia,0,0,0,2118,2174,6041,6070,8862,51496,52231,...,3997,13193,13193,26948,6207,691,3943,0,53516,53516
Europe,0,0,0,5752,5853,8261,8426,13125,34584,28247,...,10993,15320,15320,55664,12073,6699,13157,0,53884,53884
North America,0,0,0,2290,2312,6534,6562,17393,36618,36618,...,5814,24527,25598,24616,13861,0,13861,0,37545,37545
Oceania,0,0,0,4065,4093,8871,8883,12289,17295,17295,...,3553,9798,9798,15644,10636,441,7851,0,18012,18012
South America,0,0,0,63,95,1270,1294,1941,11794,13491,...,1047,4256,5332,7574,1047,0,1047,0,13295,13295

In [87]:
null_df

,new_cases_per_million,new_deaths_per_million,reproduction_rate,icu_patients_per_million,hosp_patients_per_million,total_tests_per_thousand,new_tests_per_thousand,tests_per_case,total_boosters,new_vaccinations,...,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality,excess_mortality_cumulative_per_million
date,,,,,,,,,,,,,,,,,,,,,
2020-01-05,0.000,0.000,0.00,0.000,0.000,0.018,0.007,0.0,0.000000e+00,0.0,...,106.88,119.300,323.100,620.575,36.100,912.90,9.674,1.008466e+09,0.07,0.097620
2020-01-12,0.000,0.000,0.00,0.000,0.754,0.105,0.012,51.7,0.000000e+00,0.0,...,188.13,225.100,705.600,1249.619,69.620,1756.12,18.565,1.716157e+09,1.94,2.650830
2020-01-19,0.000,0.000,0.00,0.000,0.754,0.204,0.013,176.5,0.000000e+00,0.0,...,188.13,225.100,705.600,1249.619,69.620,2077.96,18.565,1.811731e+09,-0.12,2.488129
2020-01-26,10.555,0.056,26.91,0.000,0.000,0.336,0.031,30.0,0.000000e+00,0.0,...,601.88,597.270,2215.775,1989.221,293.115,6573.26,59.463,1.199717e+11,-9.67,-107.147247
2020-02-02,31.426,0.479,43.31,0.000,0.000,1.249,0.092,1117.3,0.000000e+00,0.0,...,1427.24,1723.438,5295.545,3621.587,627.695,14520.63,142.315,1.779086e+11,-55.45,-770.582793
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-01-22,74094.465,757.967,0.00,894.783,17043.956,0.000,0.000,0.0,6.645799e+10,60943464.0,...,11968.53,11102.938,33403.545,33430.103,3698.681,111998.39,955.920,2.266475e+11,0.00,0.000000
2023-01-29,63983.000,408.100,0.00,789.485,13631.543,0.000,0.000,0.0,6.661262e+10,33901953.0,...,11968.53,11102.938,33403.545,33430.103,3698.681,111998.39,955.920,2.266475e+11,0.00,0.000000
2023-02-05,47598.227,359.521,0.00,697.504,12177.723,0.000,0.000,0.0,6.644153e+10,28196265.0,...,11968.53,11102.938,33403.545,33430.103,3698.681,111998.39,955.920,2.266413e+11,0.00,0.000000
2023-02-12,69149.735,389.999,0.00,464.518,6475.035,0.000,0.000,0.0,6.498252e+10,8137457.0,...,11968.53,11102.938,33403.545,33430.103,3698.681,111998.39,955.920,2.263643e+11,0.00,0.000000
2023-02-19,39566.380,79.667,0.00,102.699,1189.276,0.000,0.000,0.0,1.811422e+10,775546.0,...,3419.58,3172.268,9543.870,9551.458,1056.766,31999.54,273.120,6.462204e+10,0.00,0.000000