In [583]:
import pandas as pd
import numpy as np

In [584]:
df = pd.read_excel("/Users/karthikkurella/Documents/Applied analytics/project/data/owid-covid-data.xlsx")

In [585]:
df.columns

Index(['continent', 'location', 'date', 'total_cases_per_million',
       'new_cases_per_million', 'total_deaths_per_million',
       'new_deaths_per_million', 'reproduction_rate',
       'icu_patients_per_million', 'hosp_patients_per_million', 'total_tests',
       'new_tests', 'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population_density', 'median_age', 'aged_65_older', 'aged_70_older',
       'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate',
       'diabetes_prevalence', 'female_smokers', 'male_smokers',
       'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index', 'population',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [586]:
#remove first row
df = df.iloc[1:,:]

In [587]:
df['continent'].isnull().sum()

14454

In [588]:
#remove Africa data as it does not have total tests case
# and also its not a continent
df=df[df["location"]!="Africa"]

In [589]:


df = df[['continent',
'location','date',
'total_cases_per_million',
'new_cases_per_million',
'total_deaths_per_million',
'new_deaths_per_million','reproduction_rate',
'total_tests_per_thousand',
'new_tests_per_thousand',
'new_vaccinations',
'total_vaccinations_per_hundred',
'people_vaccinated_per_hundred',
'people_fully_vaccinated_per_hundred',
'total_boosters_per_hundred',
'new_vaccinations_smoothed_per_million',
'new_people_vaccinated_smoothed_per_hundred',
'stringency_index',
'population_density',
'median_age',
'aged_65_older',
'aged_70_older',
'gdp_per_capita',
'extreme_poverty',
'cardiovasc_death_rate',
'diabetes_prevalence',
'female_smokers',
'male_smokers',
'handwashing_facilities',
'hospital_beds_per_thousand','life_expectancy',
'human_development_index',
'population']]
df.head()

,continent,location,date,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,reproduction_rate,total_tests_per_thousand,new_tests_per_thousand,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population
1,Asia,Afghanistan,2023-02-14,5082.476,0.608,191.982,0.0,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.50,64.83,0.511,41128772.0
3,Europe,Albania,2023-02-14,117602.605,3.166,1265.165,0.0,NaN,NaN,NaN,...,1.1,304.195,10.08,7.1,51.2,NaN,2.89,78.57,0.795,2842318.0
4,Africa,Algeria,2023-02-14,6044.309,0.000,153.241,0.0,NaN,NaN,NaN,...,0.5,278.364,6.73,0.7,30.4,83.741,1.90,76.88,0.748,44903228.0
5,Europe,Andorra,2023-02-14,599426.374,0.000,2066.556,0.0,NaN,NaN,NaN,...,NaN,109.135,7.97,29.0,37.8,NaN,NaN,83.73,0.868,79843.0
6,Africa,Angola,2023-02-14,2955.52,0.000,54.258,0.0,NaN,NaN,NaN,...,NaN,276.045,3.94,NaN,NaN,26.664,NaN,61.15,0.581,35588996.0

In [590]:
import datetime

In [591]:
df.shape

(256310, 33)

In [592]:
df = df[['continent',
'location','date',
'total_cases_per_million',
'new_cases_per_million',
'total_deaths_per_million',
'new_deaths_per_million','reproduction_rate',
'total_tests_per_thousand',
'new_tests_per_thousand',
'new_vaccinations',
'total_vaccinations_per_hundred',
'people_vaccinated_per_hundred',
'people_fully_vaccinated_per_hundred',
'total_boosters_per_hundred',
'new_vaccinations_smoothed_per_million',
'new_people_vaccinated_smoothed_per_hundred',
'stringency_index',
'population_density',
'median_age',
'aged_65_older',
'aged_70_older',
'gdp_per_capita',
'extreme_poverty',
'cardiovasc_death_rate',
'diabetes_prevalence',
'female_smokers',
'male_smokers',
'handwashing_facilities',
'hospital_beds_per_thousand','life_expectancy',
'human_development_index',
'population']]

In [593]:
df = df.iloc[1:,:]
df["date"].dtype

dtype('O')

In [594]:
df.head()

,continent,location,date,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,reproduction_rate,total_tests_per_thousand,new_tests_per_thousand,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population
3,Europe,Albania,2023-02-14,117602.605,3.166,1265.165,0.0,NaN,NaN,NaN,...,1.1,304.195,10.08,7.1,51.2,NaN,2.89,78.57,0.795,2842318.0
4,Africa,Algeria,2023-02-14,6044.309,0.000,153.241,0.0,NaN,NaN,NaN,...,0.5,278.364,6.73,0.7,30.4,83.741,1.90,76.88,0.748,44903228.0
5,Europe,Andorra,2023-02-14,599426.374,0.000,2066.556,0.0,NaN,NaN,NaN,...,NaN,109.135,7.97,29.0,37.8,NaN,NaN,83.73,0.868,79843.0
6,Africa,Angola,2023-02-14,2955.52,0.000,54.258,0.0,NaN,NaN,NaN,...,NaN,276.045,3.94,NaN,NaN,26.664,NaN,61.15,0.581,35588996.0
7,North America,Anguilla,2023-02-14,245890.282,0.000,755.81,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81.88,NaN,15877.0

In [595]:
import datetime
df["month"]=df["date"].apply(lambda x : datetime.datetime.strptime(x, "%Y-%m-%d").month)
df["year"]=df["date"].apply(lambda x : datetime.datetime.strptime(x, "%Y-%m-%d").year)

In [596]:
# impute with 0
columns = ['new_cases_per_million','new_tests_per_thousand','new_vaccinations','total_vaccinations_per_hundred',
'people_vaccinated_per_hundred',
'people_fully_vaccinated_per_hundred',
'total_boosters_per_hundred',
'new_vaccinations_smoothed_per_million',
'new_people_vaccinated_smoothed_per_hundred']

In [597]:
for col in columns:
    print(df[col].isnull().sum())

15763
180906
197209
184960
188060
190689
215868
104106
104234

In [598]:
for col in columns:
    df[col].fillna(0, inplace=True)

In [599]:
df[columns]

,new_cases_per_million,new_tests_per_thousand,new_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,new_vaccinations_smoothed_per_million,new_people_vaccinated_smoothed_per_hundred
3,3.166,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
257404,0.000,0.001,0.0,0.0,0.0,0.0,0.0,0.0,0.0
257405,0.000,0.002,0.0,0.0,0.0,0.0,0.0,0.0,0.0
257406,0.000,0.001,0.0,0.0,0.0,0.0,0.0,0.0,0.0
257407,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
257408,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [600]:
df

,continent,location,date,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,reproduction_rate,total_tests_per_thousand,new_tests_per_thousand,...,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,month,year
3,Europe,Albania,2023-02-14,117602.605,3.166,1265.165,0.0,NaN,NaN,0.000,...,10.08,7.1,51.2,NaN,2.89,78.57,0.795,2842318.0,2,2023
4,Africa,Algeria,2023-02-14,6044.309,0.000,153.241,0.0,NaN,NaN,0.000,...,6.73,0.7,30.4,83.741,1.90,76.88,0.748,44903228.0,2,2023
5,Europe,Andorra,2023-02-14,599426.374,0.000,2066.556,0.0,NaN,NaN,0.000,...,7.97,29.0,37.8,NaN,NaN,83.73,0.868,79843.0,2,2023
6,Africa,Angola,2023-02-14,2955.52,0.000,54.258,0.0,NaN,NaN,0.000,...,3.94,NaN,NaN,26.664,NaN,61.15,0.581,35588996.0,2,2023
7,North America,Anguilla,2023-02-14,245890.282,0.000,755.81,0.0,NaN,NaN,0.000,...,NaN,NaN,NaN,NaN,NaN,81.88,NaN,15877.0,2,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257404,North America,Mexico,2020-01-03,NaN,0.000,NaN,NaN,NaN,0.001,0.001,...,13.06,6.9,21.4,87.847,1.38,75.05,0.779,127504120.0,1,2020
257405,South America,Argentina,2020-01-02,NaN,0.000,NaN,NaN,NaN,0.002,0.002,...,5.50,16.2,27.7,NaN,5.00,76.67,0.845,45510324.0,1,2020
257406,North America,Mexico,2020-01-02,NaN,0.000,NaN,NaN,NaN,0.001,0.001,...,13.06,6.9,21.4,87.847,1.38,75.05,0.779,127504120.0,1,2020
257407,South America,Argentina,2020-01-01,NaN,0.000,NaN,NaN,NaN,0.000,0.000,...,5.50,16.2,27.7,NaN,5.00,76.67,0.845,45510324.0,1,2020
257408,North America,Mexico,2020-01-01,NaN,0.000,NaN,NaN,NaN,0.000,0.000,...,13.06,6.9,21.4,87.847,1.38,75.05,0.779,127504120.0,1,2020

In [601]:
for col in columns:
    print(df[col].isnull().sum())

0
0
0
0
0
0
0
0
0

In [602]:
# impute with mean
columns_mean = ['reproduction_rate','stringency_index','population_density','median_age','aged_65_older',
'aged_70_older',
'gdp_per_capita',
'extreme_poverty',
'cardiovasc_death_rate',
'diabetes_prevalence',
'female_smokers',
'male_smokers',
'handwashing_facilities',
'hospital_beds_per_thousand',
'life_expectancy',
'human_development_index',
'population']

In [603]:
for col in columns_mean:
    print(df[col].isnull().sum())

71492
71115
31961
48809
50996
49894
49146
121389
49425
38532
99377
101524
154240
71818
20067
54053
1104

In [604]:
for col in columns_mean:
    df[col].fillna(df[col].mean(), inplace=True)

In [605]:
for col in columns_mean:
    print(df[col].isnull().sum())

0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0

In [606]:
# new condition task

columns_condition = ['total_cases_per_million','total_deaths_per_million',
'total_tests_per_thousand']

for col in columns_condition:
    print(col,df[col].isnull().sum())
# remove total_deaths_per_million ==> drop

total_cases_per_million 15487
total_deaths_per_million 35104
total_tests_per_thousand 176922

In [607]:
from collections import Counter
print(Counter(df['location']))

Counter({'Argentina': 1141, 'Mexico': 1141, 'Thailand': 1138, 'Taiwan': 1126, 'Asia': 1120, 'China': 1120, 'High income': 1120, 'Japan': 1120, 'Lower middle income': 1120, 'Macao': 1120, 'North America': 1120, 'South Korea': 1120, 'United States': 1120, 'Upper middle income': 1120, 'World': 1120, 'Canada': 1119, 'Europe': 1119, 'European Union': 1119, 'Hong Kong': 1119, 'Singapore': 1119, 'Vietnam': 1119, 'France': 1118, 'Malaysia': 1118, 'Nepal': 1117, 'Oceania': 1117, 'Australia': 1116, 'Cambodia': 1115, 'Germany': 1115, 'Sri Lanka': 1115, 'Finland': 1113, 'United Arab Emirates': 1113, 'Fiji': 1112, 'India': 1112, 'Philippines': 1112, 'United Kingdom': 1112, 'Italy': 1111, 'Russia': 1111, 'Spain': 1110, 'Sweden': 1110, 'Denmark': 1109, 'Slovenia': 1109, 'Armenia': 1108, 'Estonia': 1108, 'Belgium': 1107, 'International': 1104, 'Morocco': 1104, 'South Africa': 1104, 'Egypt': 1097, 'Guatemala': 1094, 'Iran': 1092, 'Israel': 1091, 'Lebanon': 1090, 'South America': 1089, 'Chile': 1088, 'Low income': 1088, 'Luxembourg': 1088, 'Bahrain': 1087, 'Iraq': 1087, 'Kuwait': 1087, 'Oman': 1087, 'Albania': 1086, 'Algeria': 1086, 'Austria': 1086, 'Croatia': 1086, 'Norway': 1086, 'Pakistan': 1086, 'Switzerland': 1086, 'Afghanistan': 1086, 'Brazil': 1085, 'Georgia': 1085, 'Greece': 1085, 'Latvia': 1085, 'North Macedonia': 1085, 'Romania': 1085, 'Serbia': 1085, 'Netherlands': 1084, 'Belarus': 1083, 'Iceland': 1083, 'New Zealand': 1083, 'Nigeria': 1083, 'Senegal': 1083, 'Ireland': 1082, 'Monaco': 1082, 'Qatar': 1082, 'San Marino': 1082, 'Azerbaijan': 1081, 'Czechia': 1081, 'Dominican Republic': 1081, 'Ecuador': 1081, 'Portugal': 1081, 'Andorra': 1080, 'Indonesia': 1080, 'Saudi Arabia': 1080, 'Hungary': 1079, 'Jordan': 1079, 'Ukraine': 1079, 'Faeroe Islands': 1078, 'Gibraltar': 1078, 'Libya': 1078, 'Liechtenstein': 1078, 'Poland': 1078, 'Togo': 1078, 'Tunisia': 1078, 'Bosnia and Herzegovina': 1077, 'Malta': 1077, 'Palestine': 1077, 'Bhutan': 1076, 'Cameroon': 1076, 'Colombia': 1076, 'Costa Rica': 1076, 'Kenya': 1076, 'Peru': 1076, 'Slovakia': 1076, 'Vatican': 1076, 'Paraguay': 1075, 'Northern Ireland': 1075, 'Bangladesh': 1074, 'Bulgaria': 1074, 'Maldives': 1074, 'Moldova': 1074, 'Brunei': 1073, 'Cyprus': 1073, 'Panama': 1073, 'Burkina Faso': 1072, 'Mongolia': 1072, 'Bolivia': 1071, "Cote d'Ivoire": 1071, 'Democratic Republic of Congo': 1071, 'Honduras': 1071, 'Jamaica': 1071, 'Turkey': 1071, 'Cuba': 1070, 'Guyana': 1070, 'Antigua and Barbuda': 1069, 'Aruba': 1069, 'Cayman Islands': 1069, 'Ethiopia': 1069, 'French Polynesia': 1069, 'Guinea': 1069, 'Kazakhstan': 1069, 'Sudan': 1069, 'Uruguay': 1069, 'Curacao': 1068, 'Eswatini': 1068, 'Gabon': 1068, 'Ghana': 1068, 'Kosovo': 1068, 'Mauritania': 1068, 'Namibia': 1068, 'Rwanda': 1068, 'Saint Lucia': 1068, 'Saint Vincent and the Grenadines': 1068, 'Suriname': 1068, 'Trinidad and Tobago': 1068, 'Venezuela': 1068, 'Central African Republic': 1067, 'Congo': 1067, 'Equatorial Guinea': 1067, 'Seychelles': 1067, 'Uzbekistan': 1067, 'Bahamas': 1066, 'Benin': 1066, 'Greenland': 1066, 'Somalia': 1066, 'Tanzania': 1066, 'Scotland': 1066, 'Barbados': 1065, 'Gambia': 1065, 'Liberia': 1065, 'Montenegro': 1065, 'Djibouti': 1064, 'Kyrgyzstan': 1064, 'Mauritius': 1064, 'Montserrat': 1064, 'Zambia': 1064, 'Bermuda': 1063, 'Chad': 1063, 'El Salvador': 1063, 'Lithuania': 1063, 'New Caledonia': 1063, 'Nicaragua': 1063, 'Angola': 1062, 'Cape Verde': 1062, 'Haiti': 1062, 'Isle of Man': 1062, 'Madagascar': 1062, 'Niger': 1062, 'Papua New Guinea': 1062, 'Zimbabwe': 1062, 'Eritrea': 1061, 'Uganda': 1061, 'Dominica': 1060, 'Grenada': 1060, 'Mozambique': 1060, 'Syria': 1060, 'Timor': 1060, 'Belize': 1059, 'Laos': 1058, 'Guinea-Bissau': 1057, 'Mali': 1057, 'Saint Kitts and Nevis': 1057, 'England': 1056, 'Myanmar': 1055, 'Anguilla': 1054, 'British Virgin Islands': 1054, 'Turks and Caicos Islands': 1054, 'Malawi': 1053, 'Botswana': 1052, 'Wales': 1052, 'Burundi': 1051, 'Sierra Leone': 1051, 'Bonaire Sint Eustatius and Saba': 1049, 'Falkland Islands': 1047, 'Saint Pierre and Miquelon': 1046, 'South Sudan': 1046, 'Sao Tome and Principe': 1045, 'Yemen': 1041, 'Comoros': 1021, 'Tajikistan': 1020, 'Marshall Islands': 1014, 'Lesotho': 1008, 'North Korea': 1006, 'Saint Helena': 891, 'Solomon Islands': 856, 'Wallis and Futuna': 849, 'Puerto Rico': 840, 'Guam': 829, 'Vanuatu': 827, 'Samoa': 819, 'United States Virgin Islands': 818, 'Micronesia (country)': 755, 'Guernsey': 695, 'Northern Cyprus': 691, 'Jersey': 687, 'Nauru': 678, 'Tonga': 666, 'Tuvalu': 659, 'Turkmenistan': 645, 'Kiribati': 638, 'Cook Islands': 635, 'Northern Mariana Islands': 610, 'Sint Maarten (Dutch part)': 547, 'Palau': 542, 'Tokelau': 533, 'Niue': 485, 'Pitcairn': 441, 'Western Sahara': 1})

In [608]:
# df[['total_tests_per_thousand','new_tests_per_thousand']].head()

In [609]:
# df.columns

In [610]:
# df['total_tests_per_thousand']

In [611]:
# df_temp = df[(df['total_tests_per_thousand'].isna()==True)&(df['new_tests_per_thousand'])!=0]
# from collections import Counter
# Counter(df_temp['location'])

In [612]:
# df[(df['total_tests_per_thousand'].isna()==True)][['extreme_poverty','new_tests_per_thousand']]

In [613]:
df["new_tests_per_thousand"].isna().sum()

0

In [614]:
# 1. on july 2020--> if total tests is nan -- replace with new cases (can be 0 or any value) -- irrespective of location.
# 2. if we have a total tests value on before day (x), add  x and new cases (can be anything)
# explanation
# d1 4 4
# d2 nan 1
#     replace -> 5
# 3. if still 0 comes , look at location , month level.
# 4. if still 0 comes , look at location level.
# 5. if still 0 comes , look at  ---TBD

# d1 0 0
# d2 0 0

step 1 code

In [795]:
df_loc_monthfirstdate = df_copy.sort_values(['location',
                                'month','date']).groupby(['location',
                                                          'month']).head(1)


print(df_copy.shape,df_loc_monthfirstdate.shape)

(256309, 35) (2953, 35)

In [735]:
df_loc_not_monthfirstdate = df_copy.merge(df_loc_monthfirstdate.drop_duplicates(), 
                   how='left', indicator=True)

print(df_loc_not_monthfirstdate.shape)

df_loc_not_monthfirstdate= df_loc_not_monthfirstdate[df_loc_not_monthfirstdate['_merge'] == 'left_only']

df_loc_monthfirstdate['total_tests_per_thousand'].fillna(0,inplace=True)

print(df_loc_not_monthfirstdate.shape)

df_loc_not_monthfirstdate.drop(["_merge"],axis=1,inplace=True)

(256309, 36)
(253356, 36)

In [736]:
df_copy_new=pd.concat([df_loc_monthfirstdate,df_loc_not_monthfirstdate]).drop_duplicates()
df_copy_new.shape

(256309, 35)

step2 code

In [817]:
df_sorted_loc_date = df_copy_new.sort_values(["location","date"])
#pre filling based on location and date
df_sorted_loc_date["total_tests_per_thousand_new"] = df_sorted_loc_date["total_tests_per_thousand"].fillna(method=
                                                                                                         "ffill")

df_sorted_loc_date["Flag"]=df_sorted_loc_date.apply(lambda x : False if 
                                                    x["total_tests_per_thousand"]==x["total_tests_per_thousand_new"]
                                                    else True,axis=1)

#adding new test cases to total cases aftet prefilling.
df_sorted_loc_date["total_tests_per_thousand_new1"]=df_sorted_loc_date.apply(lambda x : x["total_tests_per_thousand_new"]+
                                                                             x["new_tests_per_thousand"] if x["Flag"]==True
                                                                            else 
                                                                            x["total_tests_per_thousand"],axis=1)

df_sorted_loc_date.drop(["total_tests_per_thousand","total_tests_per_thousand_new","Flag"],inplace=True,axis=1)

df_sorted_loc_date["total_tests_per_thousand"]=df_sorted_loc_date["total_tests_per_thousand_new1"]

df_sorted_loc_date.drop(["total_tests_per_thousand_new1"],inplace=True,axis=1)

print(df_sorted_loc_date.shape)

df_sorted_loc_date["total_tests_per_thousand"].isna()

(256309, 35)

255907    False
254752    False
254678    False
254603    False
254523    False
          ...
1148      False
918       False
688       False
458       False
228       False
Name: total_tests_per_thousand, Length: 256309, dtype: bool

In [ ]:
df_sorted_loc_date.to_excel('data_processed_total_tests<0remaining>.xlsx')

In [815]:
df_copy_new = df_sorted_loc_date

In [814]:
df_sorted_loc_date['new_deaths_per_million'].fillna(0, inplace=True)

In [818]:
for col in df_sorted_loc_date:
    print(col,df_sorted_loc_date[col].isna().sum())

continent 13356
location 0
date 0
new_cases_per_million 0
new_deaths_per_million 0
reproduction_rate 0
new_tests_per_thousand 0
new_vaccinations 0
total_vaccinations_per_hundred 0
people_vaccinated_per_hundred 0
people_fully_vaccinated_per_hundred 0
total_boosters_per_hundred 0
new_vaccinations_smoothed_per_million 0
new_people_vaccinated_smoothed_per_hundred 0
stringency_index 0
population_density 0
median_age 0
aged_65_older 0
aged_70_older 0
gdp_per_capita 0
extreme_poverty 0
cardiovasc_death_rate 0
diabetes_prevalence 0
female_smokers 0
male_smokers 0
handwashing_facilities 0
hospital_beds_per_thousand 0
life_expectancy 0
human_development_index 0
population 0
month 0
year 0
total_cases_per_million 0
total_deaths_per_million 28
total_tests_per_thousand 0

In [788]:
# na_infp=df_sorted_loc_date[(df_sorted_loc_date["total_tests_per_thousand"].isna()) & 
#                          (df_sorted_loc_date["new_tests_per_thousand"]!=0)]

# vals_check=na_infp[["total_tests_per_thousand","total_tests_per_thousand_new",
#                     "total_tests_per_thousand_new1","new_tests_per_thousand"]]

# vals_check[vals_check["total_tests_per_thousand_new1"]==0]

Empty DataFrame
Columns: [total_tests_per_thousand, total_tests_per_thousand_new, total_tests_per_thousand_new1, new_tests_per_thousand]
Index: []

In [615]:
mean_month_total_tests=df.groupby(['month','location'])["total_tests_per_thousand"].mean()
df_mean_month_total_tests=pd.DataFrame(mean_month_total_tests).reset_index()

mean_loc_total_tests=df.groupby(['location'])["total_tests_per_thousand"].mean()
df_mean_loc_total_tests=pd.DataFrame(mean_loc_total_tests).reset_index()

count=0
def get_mean(val):
    if np.isnan(val['total_tests_per_thousand']):
        location_val=val["location"]
        month_val=val["month"]
        total_tests_val=df_mean_month_total_tests[(df_mean_month_total_tests["location"]==location_val) &
                               (df_mean_month_total_tests["month"]==month_val)]["total_tests_per_thousand"].values[0]
        if np.isnan(total_tests_val):
            total_tests_val=df_mean_loc_total_tests[df_mean_loc_total_tests["location"]==
                                                     location_val]["total_tests_per_thousand"].values[0]
        return total_tests_val
    
df['total_tests_per_thousand'] = df.apply(lambda x:get_mean(x),axis=1)

df['total_tests_per_thousand'].isna().sum()

135874

In [673]:
df_copy = df.copy()

In [674]:
df_copy['total_tests_per_thousand'].isna().sum()

135874

In [675]:
df[(df['date'] == '2020-01-01') & (np.isnan(df['total_tests_per_thousand'])) & (df['new_cases_per_million']>=0.0)]

,continent,location,date,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,reproduction_rate,total_tests_per_thousand,new_tests_per_thousand,...,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,month,year
257407,South America,Argentina,2020-01-01,NaN,0.0,NaN,NaN,0.911495,NaN,0.0,...,5.50,16.2,27.7,50.899655,5.00,76.67,0.845,45510324.0,1,2020
257408,North America,Mexico,2020-01-01,NaN,0.0,NaN,NaN,0.911495,NaN,0.0,...,13.06,6.9,21.4,87.847000,1.38,75.05,0.779,127504120.0,1,2020

In [680]:
df_copy[(df_copy['date'].str.contains(pattern)) & (np.isnan(df_copy['total_tests_per_thousand'])) & (df_copy['new_cases_per_million']>=0.0)]

,continent,location,date,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,reproduction_rate,total_tests_per_thousand,new_tests_per_thousand,...,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,month,year
3040,NaN,Asia,2023-02-01,44295.501,22.690,341.56,0.091,0.911495,NaN,0.00,...,8.394397,10.688092,32.820502,50.899655,3.089282,73.596567,0.724546,4.721383e+09,2,2023
3055,North America,Bonaire Sint Eustatius and Saba,2023-02-01,435975.159,406.624,1515.6,0.000,0.911495,NaN,0.00,...,8.394397,10.688092,32.820502,50.899655,3.089282,77.790000,0.724546,2.705200e+04,2,2023
3067,Africa,Cape Verde,2023-02-01,106596.512,0.000,696.268,0.000,0.911495,NaN,0.00,...,2.420000,2.100000,16.500000,50.899655,2.100000,72.980000,0.665000,5.931620e+05,2,2023
3076,Oceania,Cook Islands,2023-02-01,410932.363,0.000,117.426,0.000,0.911495,NaN,0.00,...,8.394397,10.688092,32.820502,50.899655,3.089282,76.250000,0.724546,1.703200e+04,2,2023
3092,Europe,England,2023-02-01,NaN,0.000,NaN,NaN,0.911495,NaN,0.00,...,8.394397,10.688092,32.820502,50.899655,3.089282,73.596567,0.724546,5.655000e+07,2,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257062,Asia,United Arab Emirates,2020-02-01,0.424,0.000,NaN,NaN,0.911495,NaN,0.02,...,17.260000,1.200000,37.400000,50.899655,1.200000,77.970000,0.890000,9.441138e+06,2,2020
257065,NaN,Upper middle income,2020-02-01,4.711,0.827,0.103,0.018,0.911495,NaN,0.00,...,8.394397,10.688092,32.820502,50.899655,3.089282,73.596567,0.724546,2.525921e+09,2,2020
257067,NaN,World,2020-02-01,1.509,0.265,0.033,0.006,2.680000,NaN,0.00,...,8.510000,6.434000,34.635000,60.130000,2.705000,72.580000,0.737000,7.975105e+09,2,2020
257407,South America,Argentina,2020-01-01,NaN,0.000,NaN,NaN,0.911495,NaN,0.00,...,5.500000,16.200000,27.700000,50.899655,5.000000,76.670000,0.845000,4.551032e+07,1,2020
257408,North America,Mexico,2020-01-01,NaN,0.000,NaN,NaN,0.911495,NaN,0.00,...,13.060000,6.900000,21.400000,87.847000,1.380000,75.050000,0.779000,1.275041e+08,1,2020

In [679]:
# YYYY-MM-01
pattern = r'\d{4}-\d{2}-01\b'
df_copy['date'].str.match(r'\d{4}-\d{2}-01\b').value_counts()

False    247874
True       8435
Name: date, dtype: int64

In [ ]:
# not in the form of

In [687]:
df_copy['date'].str.match(r'\d{4}-\d{2}-01\b').value_counts()

False    247874
True       8435
Name: date, dtype: int64

In [670]:
# Condition #1

def replace_column(val):
    pattern = r'\d{4}-\d{2}-01\b'
    
    print(val['date'].str.match(pattern))
    #print(val['date'].str.match(pattern))
    #if(val['date'].str.match(pattern)):

        

df_copy.head(10).apply(lambda x:replace_column(x),axis=1)

AttributeError: 'str' object has no attribute 'str'

In [634]:
df_copy.dtypes

continent                                      object
location                                       object
date                                           object
total_cases_per_million                        object
new_cases_per_million                         float64
total_deaths_per_million                       object
new_deaths_per_million                        float64
reproduction_rate                             float64
total_tests_per_thousand                       object
new_tests_per_thousand                        float64
new_vaccinations                              float64
total_vaccinations_per_hundred                float64
people_vaccinated_per_hundred                 float64
people_fully_vaccinated_per_hundred           float64
total_boosters_per_hundred                    float64
new_vaccinations_smoothed_per_million         float64
new_people_vaccinated_smoothed_per_hundred    float64
stringency_index                              float64
population_density                            float64
median_age                                    float64
aged_65_older                                 float64
aged_70_older                                 float64
gdp_per_capita                                float64
extreme_poverty                               float64
cardiovasc_death_rate                         float64
diabetes_prevalence                           float64
female_smokers                                float64
male_smokers                                  float64
handwashing_facilities                        float64
hospital_beds_per_thousand                    float64
life_expectancy                               float64
human_development_index                       float64
population                                    float64
month                                           int64
year                                            int64
dtype: object

In [635]:
df.dtypes

continent                                      object
location                                       object
date                                           object
total_cases_per_million                        object
new_cases_per_million                         float64
total_deaths_per_million                       object
new_deaths_per_million                        float64
reproduction_rate                             float64
total_tests_per_thousand                      float64
new_tests_per_thousand                        float64
new_vaccinations                              float64
total_vaccinations_per_hundred                float64
people_vaccinated_per_hundred                 float64
people_fully_vaccinated_per_hundred           float64
total_boosters_per_hundred                    float64
new_vaccinations_smoothed_per_million         float64
new_people_vaccinated_smoothed_per_hundred    float64
stringency_index                              float64
population_density                            float64
median_age                                    float64
aged_65_older                                 float64
aged_70_older                                 float64
gdp_per_capita                                float64
extreme_poverty                               float64
cardiovasc_death_rate                         float64
diabetes_prevalence                           float64
female_smokers                                float64
male_smokers                                  float64
handwashing_facilities                        float64
hospital_beds_per_thousand                    float64
life_expectancy                               float64
human_development_index                       float64
population                                    float64
month                                           int64
year                                            int64
dtype: object

In [580]:
df['total_tests_per_thousand'].isna().sum()

256309

In [532]:
df[df['total_tests_per_thousand'].isnull()]

,continent,location,date,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,reproduction_rate,total_tests_per_thousand,new_tests_per_thousand,...,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,month,year
12,NaN,Asia,2023-02-14,44481.743,14.824,343.13,0.048,0.911495,NaN,0.000,...,8.394397,10.688092,32.820502,50.899655,3.089282,73.596567,0.724546,4.721383e+09,2,2023
27,North America,Bonaire Sint Eustatius and Saba,2023-02-14,436086.056,0.000,1515.6,0.000,0.911495,NaN,0.000,...,8.394397,10.688092,32.820502,50.899655,3.089282,77.790000,0.724546,2.705200e+04,2,2023
39,Africa,Cape Verde,2023-02-14,106609.999,3.372,696.268,0.000,0.911495,NaN,0.000,...,2.420000,2.100000,16.500000,50.899655,2.100000,72.980000,0.665000,5.931620e+05,2,2023
48,Oceania,Cook Islands,2023-02-14,412165.336,0.000,117.426,0.000,0.911495,NaN,0.000,...,8.394397,10.688092,32.820502,50.899655,3.089282,76.250000,0.724546,1.703200e+04,2,2023
69,NaN,Europe,2023-02-14,331868.262,70.599,2722.304,0.423,0.911495,NaN,0.000,...,8.394397,10.688092,32.820502,50.899655,3.089282,73.596567,0.724546,7.448078e+08,2,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257404,North America,Mexico,2020-01-03,NaN,0.000,NaN,NaN,0.911495,NaN,0.001,...,13.060000,6.900000,21.400000,87.847000,1.380000,75.050000,0.779000,1.275041e+08,1,2020
257405,South America,Argentina,2020-01-02,NaN,0.000,NaN,NaN,0.911495,NaN,0.002,...,5.500000,16.200000,27.700000,50.899655,5.000000,76.670000,0.845000,4.551032e+07,1,2020
257406,North America,Mexico,2020-01-02,NaN,0.000,NaN,NaN,0.911495,NaN,0.001,...,13.060000,6.900000,21.400000,87.847000,1.380000,75.050000,0.779000,1.275041e+08,1,2020
257407,South America,Argentina,2020-01-01,NaN,0.000,NaN,NaN,0.911495,NaN,0.000,...,5.500000,16.200000,27.700000,50.899655,5.000000,76.670000,0.845000,4.551032e+07,1,2020
257408,North America,Mexico,2020-01-01,NaN,0.000,NaN,NaN,0.911495,NaN,0.000,...,13.060000,6.900000,21.400000,87.847000,1.380000,75.050000,0.779000,1.275041e+08,1,2020

In [526]:
df[(df["location"]=="Singapore")]["new_tests_per_thousand"].sum()

2676.863

In [527]:
check_null=df[df['total_tests_per_thousand'].isna()]
# check_null
check_null['location'].value_counts().head(30)
# .reset_index()["total_tests_per_thousand"].sum()

Asia                   1120
World                  1120
Lower middle income    1120
North America          1120
High income            1120
Upper middle income    1120
Macao                  1120
European Union         1119
Singapore              1119
Europe                 1119
Oceania                1117
International          1104
South America          1089
Low income             1088
San Marino             1082
Monaco                 1082
Libya                  1078
Palestine              1077
Vatican                1076
Northern Ireland       1075
Moldova                1074
Honduras               1071
French Polynesia       1069
Venezuela              1068
Uzbekistan             1067
Seychelles             1067
Greenland              1066
Scotland               1066
Montenegro             1065
Montserrat             1064
Name: location, dtype: int64